@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;800&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    height: 200vh;
    font-family: "Poppins",sans-serif;
    background-color: #FFF3DA;
}

.vintage{
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: radial-gradient(ellipse at center, rgba(0,0,0,0) 65%,rgba(0,0,0,0.7));
}

header{
    border-bottom: 1px solid rgba(255, 143, 143,0.2);
    position: absolute;
    width: 100%;
    z-index: 9999;
    top: 0;
    left: 0;
}

header nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 96%;
    height: 9vh;
    margin: 0 auto;
}

header nav h2{
    color: #FF8F8F;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul a{
    text-decoration: none;
    color: #FF8F8F;
    margin: 0 1.5rem;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 0.90rem;
}

.parallax{
    pointer-events: none;
    transition: 0.3s cubic-bezier(.2,.49,.32,.99);
}

main{
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
    background-color: #FFF3DA;
}

.csmt{
    position: absolute;
    width: 100%;
    top: calc(50% + 16%);
    left: 50%;
    z-index: 15;
    filter: drop-shadow(0px -10px 50px black);
}

.taj{
    position: absolute;
    width: 50%;
    top: calc(50%);
    left: calc(50% + 25%);
    z-index: 10;
}


.gateway{
    position: absolute;
    width: 50%;
    top: calc(50% - 4%);
    left: calc(50% - 25%);
}

.text{
    position: absolute;
    top: calc(50% - 12%);
    left: 50%;
    text-align: center;
    text-transform: uppercase;
    color: #FF8F8F;
    z-index: 13;
    text-shadow: 0px 1px 10px black;
    transition: transform 1.2s ease;
}

.text h2{
    font-weight: 100;
    font-size: 6.5rem;
    line-height: 0.88;
}

.text h1{
    font-weight: 800;
    font-size: 8.5rem;
    line-height: 0.88;
}
